 .grid {
    height: 50vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    background-color: turquoise;
    align-content: center;
    margin-left: 50px;
    margin-top: 20px;
    border: 20px ridge whitesmoke;
    margin-bottom: 10px;
}

.grid div{
    height: calc(50vw/10);
    width: calc(50vw/10);
    border: 1px ridge black;
    box-sizing: border-box;
    align-content: center;

}

.checked {
    background-color: red;
}


  h1 {
  font-size: calc(100vw/10);
  color: red;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  }
 h1{
    transition-duration: 0.4s;
  }
  
  h1:hover {
    color:turquoise;
  }



  div {
    font-size: calc(30vw/10);
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  
  }

  #reset {
    font-size: calc(50vw/10);
    object-position: center;
    font-family: 'Roboto Mono', monospace;
    background-color: red; 

}

#reset {
  transition-duration: 0.4s;
}

#reset:hover {
  background-color:turquoise;
  color: white;
}

  #result {
    margin-top: 5px;
    color:red;
  }  

   body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgb(97,98,99) 0%,
        rgba(0, 0, 0) 100%
    );
}
 

#flag{
color: turquoise;
font-size:calc(50vw/10) ;
}



  .one{
    color:blue;
  }

.two{
    color: yellow;
}

.three{
    color: gray;
}

.four{
    color: orange;
}