.grid {
    height: 50vw;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div{
    height: calc(50vw/10);
    width: calc(50vw/10);
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow:black
}
.checked {
    background-color: red;
}

.bomb{
    background-color: blue;
}